<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expressly Expresive</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <div class="navBar">
        <img class="logo" src="/images/Logo.jpeg" alt="logo" />
        <nav>
          <ul>
            <li><a href="/index"> Home </a></li>
            <li><a href="/about"> About Me </a></li>
            <li><a href="/customers"> Customers </a></li>
            <li><a href="/gallery"> Galery </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="aboutContainer">
      <div>
        <h3>Mark Caldwell - Aufgewachsen in: Mississippi, USA</h3>
        <div class="description">
          <img class="mark" src="/images/marc_on.jpg" alt="" />
          <p>
            Studium in: USA, "Mass Media and Public Communications". Mark ist auch Produkt Fotograf und Drummer bei der Band<br />
            Gods on Vacation.
          </p>
        </div>
      </div>
      <div>
        <p>
          <b>Welche Sprachen sprechen Sie?</b><br />

          Englisch (Muttersprache), Deutsch (gut genug zu überleben!)<br /><br />

          <b>Was mögen Sie an Berlin?</b><br />

          Die Leute, Lebensstil und Döner Kebabs!<br /><br />

          <b>Was an Berlin oder den Berlinern gefällt Ihnen weniger?</b><br />

          Kaltes Wetter<br /><br /><br />

          <b>Wo in Berlin trifft man Sie oft?</b><br />

          In viele Clubs mit meinen Band<br /><br />

          <b>Wo würden Sie gern für 1 Jahr leben?</b><br />

          Italien oder Spanien<br /><br />

          <b>Wie beginnt Ihr idealer Tag?</b><br />

          Mit Espresso und „Junk Mail“<br /><br />

          <b>Wie endet ein idealer Tag für Sie?</b><br />

          Ein Glas Rotwein mit guten Freunden<br /><br />

          <b>Welche Fragen bekommen Sie gern gestellt?</b><br />

          Wann ist deine nächste Konzert?<br /><br />

          <b>Welche Fragen mögen Sie nicht?</b><br />

          Sind alle Amerikaner so doof?
        </p>
        <br /><br />
      </div>
    </div>
  </body>
</html>
