<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expressly Expresive</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <div class="navBar">
        <img class="logo" src="/images/Logo.jpeg" alt="logo" />
        <nav>
          <ul>
            <li><a href="/index"> Home </a></li>
            <li><a href="/about"> About Me </a></li>
            <li><a href="/customers"> Customers </a></li>
            <li><a href="/gallery"> Galery </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="custContainer">
        <div>
            <img src="/images/jasperStawicki.png" alt="">
        </div>    
        <div>
            <img class = "mbLogo" src="/images/logo_mb.png.png" alt="">
        </div>    
        <div>
            <img src="/images/vattenfall_logo.jpg" alt="">
        </div>
        <div>
            <img src="/images/gls_logo.png" alt="">
        </div>
    </div>
  </body>
</html>
